body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
html {
  --imp-text-color: #414141;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}




/*-------------*/
/* Home        */
/*-------------*/

.heading {
  font-size: 2.4em !important;
  padding-left: 20px !important;
  color: #384E77;
}

.heading-name {
  font-size: 2.5em !important;
  padding-left: 20px !important;
  color: #18314F;
}

.heading-description  {
  margin-left: 20px !important;
}

.main-name {
  color: #8BBEB2;
}

.home-section {
  position: relative;
  z-index: -1;
  background-position: top center;
  background-repeat: no-repeat;
  padding-bottom: 30px !important;
  padding-top: 30px !important;
}

.home-about-social {
  text-align: center !important;
  padding-top: 25px;
  color: #8BBEB2 !important;
}

.home-social-icons {
  position: relative !important;
  display: inline-block !important;
  width: 60px !important;
  height: 60px !important;
  text-align: center !important;
  font-size: 1.2em !important;
  line-height: 2em !important;
  background: #8BBEB2 !important;
  border-radius: 50% !important;
  transition: 0.5s !important;
  border: 1px solid #E6F9AF;
}
.home-social-icons::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: #5b585c;
  transition: 0.5s;
  transform: scale(0.9);
  z-index: -1;
}


.home-about-social {
  text-align: center !important;
  padding-top: 25px;
  color: #414141 !important;
}

.home-about-social-links {
  justify-content: center !important;
  padding-top: 15px !important;
  display: inline-block !important;
  position: relative !important;
  padding-inline-start: 0 !important;
}

.home-social-icons:hover::before {
  transform: scale(1.1);
  box-shadow: 0 0 15px #384E77;
}

.home-social-icons:hover {
  color: #8BBEB2;
  box-shadow: 0 0 5px #384E77;
  text-shadow: 0 0 2px #384E77;
}

.social-icons {
  display: inline-block !important;
  padding-left: 15px;
  height: 60px;
}
.icon-colour {
  color: #ffffff !important;
}

.social-icon {
  margin-top: 10px;
}

.profile-pic {
  border-radius: 50%;
  height: 300px;
  width: 300px;
  margin-top: 4%;
  margin-left: 40%;
}


/*-------------*/
/* Interests   */
/*-------------*/

.interests-section {
  position: relative;
  padding-top: 150px;
  padding-bottom: 30px;
}

.interests-heading {
  color:#18314F;
  font-size:2.3em;
  font-weight: 500;
  padding-top: 10px;
  padding-bottom: 15px;
}



@media (max-width: 767px) {
  .profile-pic {
    border-radius: 50%;
    height: 80%;
    width: 50%;
    margin-top: 12%;
    margin-left: 25%;
  }
}
@tailwind base;
@tailwind components;
@tailwind utilities;