body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
html {
  --imp-text-color: #414141;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}




/*-------------*/
/* Home        */
/*-------------*/

.heading {
  font-size: 2.4em;
  padding-left: 100px ;
  color: #384E77;
}

.heading-name {
  font-size: 2.5em;
  padding-left: 100px ;
  color: #18314F;
}

.heading-description  {
  margin-left: 100px;
  max-width: 400px;
  float: left;
  display: flex;
}



.main-name {
  color: #8BBEB2;
}

.home-section {
  position: relative;
  z-index: -1;
  background-position: top center;
  background-repeat: no-repeat;
  padding-bottom: 30px;
  padding-top: 30px;
}

.home-about-social {
  text-align: center;
  padding-top: 25px;
  color: #8BBEB2 ;
}

.home-social-icons {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 60px;
  text-align: center;
  font-size: 1.2em;
  line-height: 2em;
  background: #8BBEB2 ;
  border-radius: 50%;
  transition: 0.5s;
  border: 1px solid #E6F9AF;
}
.home-social-icons::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: #5b585c;
  transition: 0.5s;
  transform: scale(0.9);
  z-index: -1;
}


.home-about-social {
  text-align: center ;
  padding-top: 25px;
  color: #414141 ;
}

.home-about-social-links {
  justify-content: center;
  padding-top: 15px ;
  display: inline-block ;
  position: relative;
  padding-inline-start: 0 ;
}

.home-social-icons:hover::before {
  transform: scale(1.1);
  box-shadow: 0 0 15px #384E77;
}

.home-social-icons:hover {
  color: #8BBEB2;
  box-shadow: 0 0 5px #384E77;
  text-shadow: 0 0 2px #384E77;
}

.social-icons {
  display: inline-block;
  padding-left: 15px;
  height: 60px;
}
.icon-colour {
  color: #ffffff;
}

.social-icon {
  margin-top: 10px;
}

.profile-pic {
  border-radius: 50%;
  height: 300px;
  width: 300px;
  margin-top: 4%;
  display: flex;


}


/*-------------*/
/* Interests   */
/*-------------*/

.interests-section {
  display: flex;
  flex-direction: row !important;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 30px;
}

.interests-card {
  display: flex;
  padding-top: 5px;
  padding-bottom: 50px;
  padding-left: 25px;
  padding-right: 25px;
  height: auto; 

}

.interests-heading {
  color:#18314F;
  font-size:2.3em;
  font-weight: 500;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 30px;
}

.interests-card-view {
  box-shadow: 0 4px 5px 3px #343e47;
  color: #414141;
  background-color: transparent;
  opacity: 0.9;
  transition: all 0.5s ease 0s;
  flex-direction: row;

  

}
.card-img-top {
  padding: 10px;
  border-radius: 10px;
  width: 250px;
  height: auto;

}

@media (max-width: 767px) {
  .profile-pic {
    border-radius: 50%;
    height: 80%;
    width: 50%;
    margin-top: 12%;
    margin-left: 25%;
  }

  .interests-heading {
    color: #414141;
    font-size: 2.3em;
    font-weight: 500;
    padding-left: 10px;
  }


  .link-button {
    color: green;
  }


  /*-------------*/
  /* Play        */
  /*-------------*/

  .column {
    width: 25%;
    padding: 10px;
    justify-content: space-evenly;
  }
  
  .row:after {
    display: table;
    justify-content: space-evenly;
  }


}
